/* хэдэр */
#menu li:first-child a {
  font-weight: 700;
}

.nav_menu.active {
  z-index: 1;
}

/* карточки товаров */
#shop {
  padding: 0vw 4vw;
  display: flex;
  flex-direction: column;
  width: 92vw;
  gap: 2.8vw;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 47vw;
}

.item img {
  width: 30vw;
  height: 38.5vw;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.1vw;
  position: relative;
  width: 30vw;
  height: 47vw;
  gap: 1.1vw;
}

.card_image {
  position: absolute;
  top: 0;
  text-align: center;
}

#youth_bottle,
#love_bottle,
#intelligence_bottle {
  width: 74%;
}

#palo_santo {
  width: 90%;
  margin-left: 1vw;
}

#voodoo,
#bag {
  width: 80%;
}

#record {
  width: 82%;
}

#book,
#pestle {
  width: 70%;
}

/* адаптив для планшета */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .item {
    height: 47.6vw;
  }
}

/* адаптив для мобилки */

@media only screen and (min-width: 360px) and (max-width: 767px) {
  #shop {
    height: 310vw;
  }

  .row {
    flex-flow: row wrap;
  }

  .item {
    flex-basis: 25%;
    width: 50%;
    margin-right: 2vw;
    height: 74vw;
  }

  .row:nth-child(2) {
    order: 3;
    flex-flow: nowrap;
  }

  .row:nth-child(2) .item:nth-child(2) {
    display: none;
  }

  .row:nth-child(3) {
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
    padding-top: 3.1vw;
    row-gap: 5vw;
    margin-bottom: 108vw;
    align-content: flex-end;
  }

  .item {
    width: 50%;
    margin-right: 2vw;
    height: 74vw;
  }

  .item img {
    height: 60vw;
    width: 100%;
  }

  .row:nth-child(1) .item:nth-child(2) {
    margin-right: 0;
  }

  .row:nth-child(1) {
    row-gap: 5vw;
    height: 73vw;
  }

  .row:nth-child(3) .item {
    margin: 0;
  }

  .row:nth-child(3) .item:nth-child(1) {
    margin-left: 2vw;
  }

  .row:nth-child(2) {
    flex-flow: nowrap;
  }
}
