/* хэдэр */
#menu li:first-child a {
  font-weight: 700;
}

.nav_menu.active {
  z-index: 1;
}

/* карточки товаров */
#shop {
  padding: 0vw 4vw;
  display: flex;
  flex-direction: column;
  width: 92vw;
  gap: 2.8vw;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 47vw;
}

.item img {
  width: 30vw;
  height: 38.5vw;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.1vw;
  position: relative;
  width: 30vw;
  height: 47vw;
  gap: 1.1vw;
}

.card_image {
  position: absolute;
  top: 4vw;
  text-align: center;
}

#youth_bottle,
#love_bottle,
#intelligence_bottle {
  width: 13.5vw;
  height: 30vw;
}

#palo_santo {
  width: 28vw;
  height: 32vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

#voodoo {
  width: 19vw;
  height: 31vw;
}

#record {
  width: 24vw;
  height: 17vw;
  margin: 6.5vw;
}

#book {
  width: 19vw;
  height: 28vw;
  margin-top: 1.5vw;
}

#pestle {
  width: 22vw;
  height: 28vw;
  margin-top: 1vw;
}

#bag {
  width: 22vw;
  height: 25vw;
  margin-top: 3vw;
}

/* адаптив для планшета */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .item {
    height: 47.6vw;
  }
}

/* адаптив для мобилки */

@media only screen and (min-width: 360px) and (max-width: 767px) {
  #shop {
    height: 310vw;
  }

  .row {
    flex-flow: row wrap;
  }

  .item {
    flex-basis: 25%;
    width: 50%;
    margin-right: 2vw;
    height: 74vw;
  }

  .row:nth-child(2) {
    order: 3;
    flex-flow: nowrap;
  }

  .row:nth-child(2) .item:nth-child(2) {
    display: none;
  }

  .row:nth-child(3) {
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
    padding-top: 3.1vw;
    row-gap: 5vw;
    margin-bottom: 108vw;
    align-content: flex-end;
  }

  .item {
    width: 50%;
    margin-right: 2vw;
    height: 74vw;
  }

  .item img {
    height: 60vw;
    width: 100%;
  }

  #youth_bottle,
  #love_bottle,
  #intelligence_bottle {
    width: 22vw;
    height: 47vw;
    margin-top: 2vw;
  }

  #palo_santo {
    width: 41vw;
    height: 43vw;
    margin-top: 4vw;
  }

  #voodoo {
    width: 19vw;
    height: 31vw;
  }

  #record {
    width: 37vw;
    height: 27vw;
    margin-top: 12vw;
  }

  #book {
    width: 30vw;
    height: 43vw;
    margin-top: 4.5vw;
  }

  #pestle {
    width: 35vw;
    height: 44vw;
    margin-top: 3.5vw;
  }

  #bag {
    width: 37vw;
    height: 40vw;
    margin-top: 6vw;
  }

  .row:nth-child(1) .item:nth-child(2) {
    margin-right: 0;
  }

  .row:nth-child(1) {
    row-gap: 5vw;
    height: 73vw;
  }

  .row:nth-child(3) .item {
    margin: 0;
  }

  .row:nth-child(3) .item:nth-child(1) {
    margin-left: 2vw;
  }

  .row:nth-child(2) {
    flex-flow: nowrap;
  }
}
