@import url('reset.css');

@font-face {
  font-family: 'Kazimir';
  src: url('../fonts/Kazimir-Bold.woff') format('woff'),
    url('../fonts/Kazimir-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Kazimir';
  src: url('../fonts/Kazimir-Regular.woff') format('woff'),
    url('../fonts/Kazimir-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body,
a,
button,
input {
  font-family: 'Kazimir';
  font-weight: 400;
  font-size: 1.9vw;
  color: #1d1d1d;
  background-color: #6b854f;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  width: 30vw;
  height: 4.5vw;
  font-weight: 700;
  color: #6b854f;
  background-color: #1d1d1d;
  padding: 0;
  border: none;
}

button:hover {
  color: #1d1d1d;
  background-color: #6b854f;
  border: solid 0.2vw #1d1d1d;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection {
  background: none;
  color: #6b854f;
}

img::selection {
  display: block;
}

button::selection {
  background: none;
  color: #1d1d1d;
}

/* хэдэр */

#header {
  display: flex;
  flex-direction: column;
}

#menu,
#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu {
  padding: 2.7vw 4.3vw 0.3vw;
}

#menu a {
  font-weight: 700;
  font-size: 1.8em;
}

#links a {
  font-weight: 400;
  font-size: 1.9vw;
}

#links {
  gap: 3vw;
}

#upper_line {
  padding-left: 4.3vw;
}

#upper_line img {
  width: 92vw;
  height: 0.5vw;
}

/* первый блок для магазина и коливинга */

.first_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4vw 4vw 4.8vw;
  gap: 4vw;
}

h2 {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 4.5vw;
  margin-top: 0.5vw;
}

.block_description {
  display: flex;
  flex-direction: column;
}

.checkbox {
  align-self: end;
  margin-right: -0.6vw;
}

.checkbox input {
  position: absolute;
  left: 33.8vw;
  width: 2.5vw;
  height: 2.5vw;
  top: 15.5vw;
  opacity: 0;
}

.block_description img {
  width: 8.5vw;
  height: 9vw;
  position: relative;
  animation: star 2s infinite;
}

@keyframes star {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.block_description p {
  margin-top: 2.6vw;
  line-height: 2.3vw;
}

.block_description button {
  margin-top: 2.8vw;
}

.block_image,
.block_image img {
  width: 53vw;
  height: 35.5vw;
}

/* футер */

#footer {
  display: flex;
  flex-direction: column;
  padding: 5.2vw 4vw 2.7vw;
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.section:first-child {
  width: 11vw;
}

.section:nth-child(2) {
  width: 12vw;
}

.section:nth-child(3) {
  width: 25vw;
}

.section p {
  margin-bottom: 0.5vw;
  font-weight: 700;
}

.section:last-child p {
  margin-left: 1vw;
}

#email {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  gap: 1vw;
}

#email input {
  width: 24vw;
  height: 3.8vw;
  padding-left: 1vw;
  border: solid 0.2vw #1d1d1d;
}

textarea:focus,
input:focus {
  outline: none;
}

#email img {
  width: 4.5vw;
  height: 4.5vw;
}

#bottom_line {
  margin-top: 4vw;
}

#bottom_line img {
  width: 92vw;
  height: 0.5vw;
}

#author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
  align-items: center;
}

#author a {
  font-weight: 700;
  font-size: 1.8em;
  margin-right: 5.5vw;
}
