@import url('reset.css');

@font-face {
  font-family: 'Kazimir';
  src: url('../fonts/Kazimir-Bold.woff') format('woff'),
    url('../fonts/Kazimir-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Kazimir';
  src: url('../fonts/Kazimir-Regular.woff') format('woff'),
    url('../fonts/Kazimir-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body,
a,
button,
input,
span,
select,
::placeholder {
  font-family: 'Kazimir';
  font-weight: 400;
  font-size: 1.9vw;
  color: #1d1d1d;
  background-color: #6b854f;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

textarea:focus,
input:focus,
select:focus,
.point > p:focus {
  outline: none;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 28.2vw #6b854f inset;
}

button {
  width: 30vw;
  height: 4.5vw;
  font-weight: 700;
  color: #6b854f;
  background-color: #1d1d1d;
  padding: 0;
  border: none;
}

button:hover {
  color: #1d1d1d;
  background-color: #6b854f;
  border: solid 0.2vw #1d1d1d;
}

/* img {
  pointer-events: none;
} */

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection,
span::selection,
br::selection {
  background: none;
  color: #6b854f;
}

img::selection {
  display: block;
}

button::selection {
  background: none;
  color: #1d1d1d;
}

span {
  font-weight: 700;
}

select {
  appearance: none;
}

/* хэдэр */

#header {
  display: flex;
  flex-direction: column;
}

.navbar,
.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 2.7vw 4.3vw 0.3vw;
}

.nav_logo {
  font-weight: 700;
  font-size: 1.8em;
}

.nav_link {
  font-weight: 400;
}

.nav_menu {
  gap: 3vw;
}

#upper_line {
  padding-left: 4.3vw;
}

#upper_line img {
  width: 92vw;
  height: 0.5vw;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1d1d1d;
}

/* первый блок для магазина и коливинга */

.first_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4vw 4vw 4.8vw;
  gap: 4vw;
}

h2 {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 4.5vw;
  margin-top: 0.5vw;
}

.block_description {
  display: flex;
  flex-direction: column;
}

.checkbox {
  align-self: end;
  margin-right: -0.6vw;
}

.checkbox input {
  position: absolute;
  left: 33.8vw;
  width: 2.5vw;
  height: 2.5vw;
  top: 15.5vw;
  cursor: pointer;
  opacity: 0;
}

.block_description img {
  width: 8.5vw;
  height: 9vw;
  position: relative;
  animation: star 2s infinite;
}

@keyframes star {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.block_description p {
  margin-top: 2.6vw;
  line-height: 2.3vw;
}

.block_description button {
  margin-top: 3vw;
}

.block_image,
.block_image img {
  width: 53vw;
  height: 36vw;
}

/* футер */

#footer {
  display: flex;
  flex-direction: column;
  padding: 5.2vw 4vw 2.7vw;
}

#navigation {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.section:first-child {
  width: 11vw;
}

.section:nth-child(2) {
  width: 13vw;
}

.section:nth-child(3) {
  width: 26vw;
}

.section > span > a {
  margin-bottom: 0.5vw;
  font-weight: 700;
  pointer-events: none;
}

.section:last-child {
  width: 30.8vw;
}

#email {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  gap: 1vw;
}

#email input {
  width: 24vw;
  height: 3.8vw;
  padding-left: 1vw;
  border: solid 0.2vw #1d1d1d;
}

#email img,
#email button {
  width: 4.5vw;
  height: 4.5vw;
}

#email button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

#bottom_line {
  margin-top: 4vw;
}

#bottom_line img {
  width: 92vw;
  height: 0.5vw;
}

#author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
  align-items: center;
}

#author a {
  font-weight: 700;
  font-size: 1.8em;
}

/* общие стили для планшета и мобилки */

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  /* хэдэр */

  .hamburger {
    display: block;
  }

  .bar:nth-child(1) {
    margin-top: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar {
    align-items: center;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #1d1d1d;
    width: 100%;
    transition: 0.3s;
  }

  .nav_link {
    color: #6b854f;
    background-color: #1d1d1d;
  }

  .nav_menu.active {
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  p,
  a,
  button,
  input,
  span,
  select,
  ::placeholder {
    font-size: 2.1vw;
  }

  /* хэдэр для планшета */

  .nav_logo {
    font-size: 2.1em;
  }

  .bar {
    width: 37.5px;
    height: 4.5px;
    margin: 7.5px auto;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .nav_menu {
    top: 8vw;
  }

  .nav_item {
    margin: 1.5vw 0;
  }

  .nav_item:nth-child(1) {
    margin-top: 3vw;
  }

  .nav_item:nth-child(5) {
    margin-bottom: 3vw;
  }

  /* футер для планшета */

  #navigation {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    row-gap: 3vw;
    column-gap: 0;
  }
  #navigation .section:nth-child(4),
  #navigation :nth-child(4) span {
    width: 33vw;
  }

  #navigation :nth-child(4) input {
    width: 32vw;
    height: 3vw;
    padding: 1vw 1.5vw;
  }

  #navigation :nth-child(4) img {
    width: 3.4vw;
  }

  #navigation .section {
    width: 30vw;
  }

  #email {
    display: block;
    position: relative;
    right: 2.3vw;
  }

  #email > button {
    position: absolute;
    left: 30.5vw;
    bottom: 0.4vw;
  }

  .section span {
    margin-bottom: 1vw;
  }

  /* первый блок для магазина и колвинга */

  #first_block {
    gap: 3.6vw;
  }

  .block_description img {
    width: 6vw;
    height: 6vw;
  }

  .checkbox input {
    left: 39vw;
    width: 2vw;
    height: 2vw;
    top: 14.5vw;
  }

  h2 {
    font-size: 3.4em;
    line-height: 5.5vw;
  }

  .block_description p {
    line-height: 2.8vw;
    margin-top: 1.5vw;
  }

  .block_description button {
    height: 4.7vw;
    margin-top: 2.5vw;
  }

  .block_image {
    width: 56vw;
    height: 35vw;
  }

  .block_image img {
    width: 50vw;
    height: 35vw;
  }
}

/* мобилка */

@media only screen and (min-width: 360px) and (max-width: 767px) {
  p,
  a,
  button,
  input,
  span,
  select,
  ::placeholder {
    font-size: 3.9vw;
    line-height: 5vw;
  }

  /* хэдэр для мобилки */

  .nav_logo {
    font-size: 3.5em;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    top: 10vw;
  }

  .nav_item {
    margin: 2.5vw 0;
  }

  .nav_item:nth-child(1) {
    margin-top: 6vw;
  }

  .nav_item:nth-child(5) {
    margin-bottom: 6vw;
  }

  /* футер для мобилки */

  #footer {
    padding-top: 11.2vw;
  }
  #navigation {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .section > span > a {
    pointer-events: all;
    font-weight: 400;
  }

  .section:nth-child(1) span {
    display: none;
  }

  .section:nth-child(2) > a,
  .section:nth-child(3) > a {
    display: none;
  }

  .section:nth-child(1),
  .section:nth-child(2) {
    width: 20vw;
  }

  .section:nth-child(3) {
    width: 28vw;
  }

  .section:nth-child(4) {
    width: 62vw;
  }

  .section {
    gap: 0;
  }

  .section a,
  .section span {
    margin-bottom: 3vw;
  }

  .section:nth-child(3) > span {
    margin-bottom: 5.5vw;
  }

  .section:last-child span {
    margin-left: 0;
    margin-bottom: 0;
  }

  .section:last-child {
    gap: 3vw;
  }

  #email {
    display: block;
    position: relative;
    margin-left: 0vw;
  }

  #email > button {
    position: absolute;
    left: 46vw;
    bottom: 1.9vw;
  }

  #email input {
    width: 40vw;
    height: 5vw;
    padding: 1vw 2vw;
    border: solid 0.3vw #1d1d1d;
  }

  #navigation :nth-child(4) img {
    width: 6vw;
    height: 6vw;
  }

  #author {
    flex-direction: column;
    gap: 1vw;
  }

  #author :nth-child(1) {
    order: 3;
    font-size: 3.9vw;
  }

  #author :nth-child(2) {
    order: 1;
    font-size: 3.5em;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }

  #author :nth-child(3) {
    order: 2;
  }

  #author :nth-child(4) > span,
  #author :nth-child(4) > span {
    font-weight: 400;
  }

  /* первый блок для магазина на коливинга  */

  .first_block {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .block_description {
    width: 100%;
    order: 2;
  }

  .checkbox {
    margin-top: -8vw;
    order: 2;
  }

  .checkbox input {
    left: 90vw;
    top: 106vw;
  }

  h2 {
    font-size: 3.7em;
    line-height: 5.5vw;
  }

  .block_description p {
    line-height: 4vw;
    width: 85%;
    margin-top: 3vw;
  }

  .block_image,
  .block_image img {
    width: 100%;
    height: 60vw;
  }

  button {
    width: 45vw;
    height: 8vw;
  }

  button:hover {
    border: solid 0.3vw #1d1d1d;
  }
}
